<?xml version="1.0"?>
<!-- 
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\vx.x\Config 
-->
<configuration>
  <configSections>
    <section name="quartz" type="System.Configuration.NameValueSectionHandler, System, Version=1.0.5000.0,Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
  </configSections>
  <quartz>
    <add key="quartz.scheduler.instanceName" value="ApplicationNameScheduler"/>
    <!-- Configure Thread Pool -->
    <add key="quartz.threadPool.type" value="Quartz.Simpl.SimpleThreadPool, Quartz"/>
    <add key="quartz.threadPool.threadCount" value="10"/>
    <add key="quartz.threadPool.threadPriority" value="Normal"/>
    <!-- Configure Job Store -->
    <add key="quartz.jobStore.misfireThreshold" value="60000"/>
    <add key="quartz.jobStore.type" value="Quartz.Simpl.RAMJobStore, Quartz"/>
    <add key="quartz.plugin.xml.type" value="Quartz.Plugin.Xml.XMLSchedulingDataProcessorPlugin, Quartz"/>
    <add key="quartz.plugin.xml.fileNames" value="~/quartzjobs.config"/>
    <add key="quartz.plugin.xml.scanInterval" value="3600"/>
  </quartz>
  <appSettings>
    <!--Correo-->
    <add key="FolderPath" value="~/EmpleadosData/"/>
    <add key="XMLFolder" value="~/EmailFiles/"/>
    <add key="XMLEmail" value="MailLayout.xml"/>
    <add key="GDLAppUser" value="Administrator"/>
    <add key="GDLAppUserPass" value=""/>

    <add key="SMTPPort" value="8889" />
    <add key="SMTPClient" value="mail.devinnsoft.com" />
    <add key="NCusername" value="controldeinvernaderos@devinnsoft.com"/>
    <add key="NCpassword" value="Art#1981h"/>
    <add key="endSessionWarn" value="1"/>
    <add key="SessionOutPage" value="../error/NoAccess.aspx"/>
    <add key="ContrasenaDeArchivos" value="|P@ssw0rd|"/>
    <add key="Empresa" value="Manufactura"/>
    <add key="AniosMaximosParaCalendario" value="10"/>
    <add key="SuperUsuario_USR" value="SuperUser"/>
    <add key="SuperUsuario_PSW" value="1"/>
    <add key="CaracterUICultura" value="Ñ"/>
    <add key="showNumDirectriz" value="5"/>
    <add key="SuperAdmin" value="SuperAdmin"/>
    <add key="SuperPass" value="123"/>
    <add key="log4net.Config" value="loggerConfig.xml"/>
    <add key="log4net.Config.Watch" value="True"/>
    <add key="bTesting" value="True"/>
    <!--en-US-->
  
    <!--Equivalencia del id correspondiente a lider de invernadero-->
    <add key="Lider_Invernadero" value="13"/>
    <!--Llave para saber el numero de notificaciones no leidas por mostrar-->
    <add key="NotificacionesPorMostrar" value="5"/>
    <!--Llaves primarias lideres de cosecha y cultivo-->
    <add key="idLiderCosecha" value="12"/>
    <add key="idLiderCultivo" value="13"/>
 
    <!--Label Equivalencias-->
    <add key="MsgEquivalencia" value="Las semanas de equivalencia corresponden a la cantidade de semanas, antes de hacer la entrega, que la orden de trabajo requiere para entrar a cada Etapa.             Así pues, 'Semana a Siembra' se refiere a la cantidad de semanas antes de la entrega en el que el pedido debe entrar en Etapa de Siembra.             'Semana a Injerto' se refiere a las semanas antes de la entrega en el que el pedido debe entrar a la Etapa de Injerto."/>
    <add key="CarpetaDeTemporales" value="C:/Temporal/"/>
    <add key="CarpetaSQLite" value="C:/Temporal/"/>
    <add key="APK" value="D:/Projects/src/wmp2/APK/"/>
    <add key="txtQueries" value="D:/Projects/src/wmp2/Temporal/"/>
    <add key="showNumDirectriz" value="5"/>
    <add key="DRPQueries" value="DRPQueries.txt"/>
  <add key="SimpleServiceReference.AndroidSync" value="http://localhost:1662/AndroidSync.asmx"/>
  </appSettings>
  <connectionStrings>

    <!--<add name="dbConn" connectionString="Data Source=DESKTOP-SQ6KO08\SQLEXPRESS;Initial Catalog=DB_A2CEA4_Bonanza;User Id=sa;Password=Art1981h;"/>-->
    
    <add name="dbConn" connectionString="Data Source=SQL7001.site4now.net;Initial Catalog=DB_A2CEA4_Agricultura;User Id=DB_A2CEA4_Agricultura_admin;Password=Art#1981h;"/>

    

    <add name="Excel03ConString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source={0};                        Extended Properties='Excel 8.0;HDR={1}'"/>
    <add name="Excel07ConString" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source={0};                         Extended Properties='Excel 8.0;HDR={1}'"/>
  </connectionStrings>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="2147483640"/>
      </webServices>
    </scripting>
  </system.web.extensions>
  <!--
    Para obtener una descripción de los cambios de web.config para .NET 4.5, vea http://go.microsoft.com/fwlink/?LinkId=235367.

    Los siguientes atributos se pueden establecer en la etiqueta <httpRuntime>.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.webServer>
    <staticContent>
      <mimeMap fileExtension="apk" mimeType="application/vnd.android.package-archive"/>
    </staticContent>
  </system.webServer>
  <system.web>
    <!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
    <securityPolicy>
      <trustLevel name="Full" policyFile="internal"/>
    </securityPolicy>
    <trust level="Full" originUrl=""/>
    <globalization uiCulture="es-MX" culture="es-MX"/>
    <compilation debug="true" targetFramework="4.5.2">
      <assemblies>
        <add assembly="System.DirectoryServices, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
    <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
    <authentication mode="Windows"/>
    <!--<customErrors mode="Off" defaultRedirect="error/GenericError.aspx">
      <error statusCode="403" redirect="NoAccess.htm" />
      <error statusCode="404" redirect="FileNotFound.htm" />
    </customErrors>-->
    <customErrors mode="Off"/>
    <webServices>
      <protocols>
        <add name="HttpGet"/>
        <add name="HttpPost"/>
      </protocols>
    </webServices>
    <pages controlRenderingCompatibilityVersion="4.0" clientIDMode="AutoID"/>
  </system.web>
  <!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
  <system.web>
    <sessionState timeout="130"/>
  </system.web>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v12.0"/>
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
      <provider invariantName="System.Data.SQLite.EF6" type="System.Data.SQLite.EF6.SQLiteProviderServices, System.Data.SQLite.EF6"/>
    </providers>
  </entityFramework>
  <system.serviceModel>
    <bindings/>
    <client/>
  </system.serviceModel>
</configuration>